# Build results
bin/
obj/

# User-specific files
*.user
*.userosscache
*.suo
*.tmp
*.log
*.lock
*.ide
.vs/

# OS-specific files
*.DS_Store
Thumbs.db

# Rider
.idea/
*.iml

# Visual Studio Code
.vscode/
